@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --vert: #76C7B5;
    --vertM: #3EB489;
    --vertA: #D3E1D8;
    --vertE: #50C878;
    --bgcolor: #f9f9f9;
}

.Main {
    font-family: "Raleway", sans-serif;
}

.Main .TitreDeProduits {
    text-align: center;
    padding-top: 4rem;
    font-size: 2rem;
    color: var(--vertE);
}

.Main .container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Créer deux colonnes égales */
    grid-column-gap: 5px; /* Espacement entre les colonnes */
    grid-row-gap: 35px; /* Espacement entre les lignes */
    justify-items: center; /* Centrer les éléments dans chaque cellule */
    padding: 20px;
    padding-top: 2rem;
    max-width: 900px; /* Ajustement de la largeur pour accueillir les images plus grandes */
    margin: 0 auto; /* Centrer le conteneur sur la page */
  }
  
  /* Styles pour chaque catégorie */
.category {
    position: relative;
    width: 350px; /* Taille des divs augmentée */
    height: 350px; /* Taille des divs augmentée */
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
  
  /* Styles pour les images */
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; 
}
  
  /* Styles pour le titre au centre de l'image */
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2.4rem;
}
  