:root{
    --vert: #76C7B5;
    --vertM: #3EB489;
    --vertA: #D3E1D8;
    --vertE: #50C878;
    --bgcolor: #f9f9f9;
  }

.contact-container {
    max-width: 800px;
    margin: 7rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: "Raleway", sans-serif;
  }
  
  .contact-container h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--vertE);
  }
  
  .contact-container p {
    font-size: 1.1rem;
    color: #555;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .contact-container ul {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
  }
  
  .contact-container ul li {
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  .contact-form textarea {
    resize: vertical;
    height: 150px;
  }
  
  .contact-form button {
    background-color: var(--vertE);
    color: white;
    padding: 0.75rem;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: var(--vert);
  }
  
  @media (max-width: 768px) {
    .contact-container {
      padding: 1.5rem;
    }
  
    .contact-container h1 {
      font-size: 1.75rem;
    }
  }
  