:root {
  --vert: #76c7b5;
  --vertM: #3eb489;
  --vertA: #d3e1d8;
  --vertE: #50c878;
  --blanc: #fff;
  --bcasse: #ddd;
}

body .main {
    background-color: #f9f9f9;
    margin-top: 13rem;
}

.main .login-container {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.main .login-container h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--vertE);
  font-size: 1.8rem;
}

.main .login-container form div {
  margin-bottom: 1rem;
}

.main .login-container label {
  display: block;
  margin-bottom: 0.5rem;
}

.main .login-container input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.main .login-container button {
  width: 100%;
  padding: 0.7rem;
  background-color: var(--vertE);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.main .login-container button:hover{
    background-color: var(--vertM);
}

.main .login-container a {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: #333;
  text-decoration: none;
}

.main .login-container a:hover {
  text-decoration: underline;
}
